<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)" dismiss-on-timeout=5000>{{alert.msg}}</alert>
<form novalidate name="detailForm">
    <div class="form-group">
        <label>Owner</label>
        <input type="text" class="form-control" ng-model="cargoItem.owner" required>
    </div>

    <div class="form-group">
        <label>Description</label>
        <textarea name="description" class="form-control" ng-model="cargoItem.description" required></textarea>
    </div>

    <div class="form-group">
        <label>Count</label>
        <input type="number" name="count" class="form-control" ng-model="cargoItem.count" required></input>
    </div>

    <div class="form-group">
        <label>Location</label>
        <select ng-model="cargoItem.location" class="form-control" ng-options="location.name for location in locations track by location.id" required></select>
    </div>

    <div class="form-group">
        <label>Job</label>
        <select ng-model="cargoItem.job" class="form-control" ng-options="job.name for job in jobs track by job.id" required></select>
    </div>

    <div class="form-group">
        <button class="btn btn-info" ng-click="reset()">Reset</button>
        <button class="btn btn-success" ng-click="save()">Save</button>
    </div>

</form>
